{% include 'base.html' %}
    {% block code %}
    This is the home page of the national institute of engineering, mysuru. The National Institute of Engineering (NIE), established in the year 1946, today stands in the band of  151 to 200, among top engineering colleges in the country that include IITs and NITs as per National Institution Ranking Framework (NIRF-2023) announced by Ministry of Human Resources Development (MHRD). It is ranked 17th among India’s top Engineering Colleges, as per survey conducted by The Week. NIE is managed by a registered society and nine out of ten current directors are distinguished alumni of the institute.
    <img src="NIE\templates\NIEIT-north-block-e1664798527317.jpg">
    {% endblock %}