{% include 'base.html' %}
    {% block code %}
    National Institute of Engineering Center for Incubation and Startup NIEISC provides an environment to translate knowledge & innovations to the creation of wealth and social value through successful entrepreneurs. As Sir M. Visvesvaraya once rightly said to either Industrialize or Perish, the NIEISC will be an inspiring organization in fostering entrepreneurship and nurturing technical startups.

 The Incubation center was set up with the potential to create startups focusing on economic growth, strategic value, and social relevance. The center supports innovative startups with access to knowledge, funding, infrastructure, mentoring, and network. The fact is that innovation is born out of community interaction and the freedom to learn and explore. Every aspirant will be allowed to explore their passion and build innovation in an inspiring environment.

The center is supported by an experienced faculty, a group of eminent entrepreneurs, and mentors delivering lectures on successful entrepreneurship .The Center also supports with workshops, case studies, and group discussions and in the process, the candidates will learn the dynamic journey of business development and know-how to survive in their early stage.

Vision:

Creation of successful entrepreneurs through the translation of knowledge and innovation by a sustained environment breaking a disruptive technology to the market

Mission:

NIEISC will create an ecosystem that will foster, promote innovation and knowledge-based entrepreneurship leading to people’s aspirations and local needs through financially successful ventures.

<p>THRUST AREA
Budding Entrepreneurs will explore vivid multiple domains to kick start their business ventures. Considering what society and nation future needs, NIE-ISC has opted the following verticals as its thrust area’s.
Mobility
Defense System
Health care
Smart Building
Energy
Cyber Security
Agriculture
Specialty Materials
Import Substitutions
</p>
    {% endblock %}