{% include 'base.html' %}
{% block code %}
Since the academic year 2021-22 we had the privilege of being visited by 450+ companies including 260+ IT companies and 150+ core companies each year. A total of 3126 students have been placed through campus recruitment in the last five years. We had the good fortune of being visited by core companies specific to each domain such as Applied Materials, SABRE, ABB LTD., Mercedes Benz and LARSEN & TOUBRO LTD for Mechanical and Industrial & Production, BROADCOM & NATIONAL INSTRUMENTS for Electrical & Electronics and Electronics & Communication, TCS, WIPRO for Computer Science and also by many dream companies to name a few, such as CISCO, VMWARE, INTUIT, IBM, AMAZON, TWILIO, GOOGLE, SAP LABS and MICROSOFT.

Every year the placement cell plans the training activities related to placement and overall personality development.
{% endblock %}